In [43]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [44]:
# Open the file
df = pd.read_csv('servo_data_not_clean.csv')
df = df.dropna()
df.head(79)

     X  Y  Hover      Angles       XY
0    2  2      0    9:160:94  311 127
1    2  2      1  10:153:100  312 127
2    3  2      0   19:155:96  349 128
3    3  2      1  19:146:102  350 128
4    4  2      0   30:154:91  387 127
..  .. ..    ...         ...      ...
74  13  4      0  78:147:164  731 193
75  13  4      1  89:140:164  731 193
78   3  5      0    76:145:4  351 238
79   3  5      1    83:140:4  351 238
80   4  5      0   64:140:21  389 236

[79 rows x 5 columns]

In [45]:
# Get the index of the row that has 76:145:4 as Angles
index = df[df['Angles'] == '86:153:0'].index[0]
index

52

In [46]:
# Create 5 new columns: S1, S2, S3, XX, YY
df['S1'] = df['Angles'].apply(lambda x: x.split(':')[0])
df['S2'] = df['Angles'].apply(lambda x: x.split(':')[1])
df['S3'] = df['Angles'].apply(lambda x: x.split(':')[2])
df['XX'] = df['XY'].apply(lambda x: x.split(' ')[0])
df['YY'] = df['XY'].apply(lambda x: x.split(' ')[1])
df.head(125)

      X  Y  Hover      Angles       XY  S1   S2   S3   XX   YY
0     2  2      0    9:160:94  311 127   9  160   94  311  127
1     2  2      1  10:153:100  312 127  10  153  100  312  127
2     3  2      0   19:155:96  349 128  19  155   96  349  128
3     3  2      1  19:146:102  350 128  19  146  102  350  128
4     4  2      0   30:154:91  387 127  30  154   91  387  127
..   .. ..    ...         ...      ...  ..  ...  ...  ...  ...
117  11  6      1  39:126:151  658 265  39  126  151  658  265
118  12  6      0  47:136:163  695 265  47  136  163  695  265
119  12  6      1  47:126:164  695 265  47  126  164  695  265
120  13  6      0  62:142:180  735 263  62  142  180  735  263
121  13  6      1  62:132:181  735 263  62  132  181  735  263

[120 rows x 10 columns]

In [47]:
# From 78th angle, swap S3 and S1. Backup S3 to a temporary column
df['S3_temp'] = df['S3']
df.loc[index:, 'S3'] = df.loc[index:, 'S1']
df.loc[index:, 'S1'] = df.loc[index:, 'S3_temp']
df = df.drop(columns=['S3_temp'])
df.head(125)

      X  Y  Hover      Angles       XY   S1   S2   S3   XX   YY
0     2  2      0    9:160:94  311 127    9  160   94  311  127
1     2  2      1  10:153:100  312 127   10  153  100  312  127
2     3  2      0   19:155:96  349 128   19  155   96  349  128
3     3  2      1  19:146:102  350 128   19  146  102  350  128
4     4  2      0   30:154:91  387 127   30  154   91  387  127
..   .. ..    ...         ...      ...  ...  ...  ...  ...  ...
117  11  6      1  39:126:151  658 265  151  126   39  658  265
118  12  6      0  47:136:163  695 265  163  136   47  695  265
119  12  6      1  47:126:164  695 265  164  126   47  695  265
120  13  6      0  62:142:180  735 263  180  142   62  735  263
121  13  6      1  62:132:181  735 263  181  132   62  735  263

[120 rows x 10 columns]

In [48]:
# Saved to cleaned_data.csv
df.to_csv('cleaned_data_2.csv', index=False)